$is-dark: false;
$shadowColor: rgba(#3f4b90, 25%);
$textColor: #3f4b90;
$bgColor: #fff;

$borderRadius: 6px;

$barTextColor: $textColor;
$barBgColor: #fefefe;
$barShadowColor: $shadowColor;
$barHoverColor: darken($barBgColor, 5%);
$checkedColor: $barTextColor;
// lighten($barBgColor, 15%);

$btnBgVColor: $barTextColor;
$btnHoverColor: lighten($barTextColor, 35%);
$borderColor: lighten($barTextColor, 35%);
$disabledColor: lighten($barTextColor, 25%);

// 変数の定義
// min-width
$breakpoint-up: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

// max-width
$breakpoint-down: (
  'sm': 'screen and (max-width: 399px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 999px)',
  'xl': 'screen and (max-width: 1199px)',
) !default;

// @mixinの定義
@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}